allow adbroot adbroot:capability { sys_resource };
allow adbroot default_android_service:service_manager { add };
#type adbroot, domain, coredomain;

